.assignment {
    border: inset;
    margin: 10%;
    padding: 20%
}

.logo {
    background-color: goldenrod;
    width: 2%;
    border-radius: 15%;
}

body {
    background-color: rgba(161, 161, 161, 0.514);
}



